/* 기본 테이블 스타일 */
.cart-table {
  margin-top: 5rem;
  background-color: var(--color-white);
  padding: 4rem;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}
.cart-table a {
  text-decoration: none;
  color: #101820;
}

.cart-table * {
  font-size: 0.95rem;
}

.cart-table-area {
  width: 100%;
  border-top: 2px solid var(--color-red);
  border-spacing: 0;
  margin-top: 20px;
}

.cart-table-head th {
  background-color: var(--color-bg);
  padding: 15px;
  border-bottom: 1px solid rgba(16, 24, 32, 0.1);
  font-weight: bold;
}

.cart-table-body tr {
  border-bottom: 1px solid #eeee;
}

.cart-table-body td {
  padding: 15px;
  vertical-align: middle;
}

.cart-table-product-row * {
  background-color: var(--color-white);
}
.delivery-charge {
  border-left: 1px solid #eee;
  padding: 15px;
  text-align: center;
}

/* 커스텀 체크박스 스타일 */
.custom-checkbox {
  background-color: var(--color-white);
  width: 24px;
  height: 24px;
  border: 1px solid #ededed;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  border: 1px solid var(--color-red);
}

.custom-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  background-color: var(--color-red);
}

/* 상품 정보 스타일 */
.product-info {
  display: flex;
  align-items: flex-start;
  max-width: 560px;
  text-align: left;
}

.product-image {
  width: 70px;
  height: 70px;
  border: 5px solid #fff;
  margin-right: 15px;
  box-shadow: 0px 0px 10px rgba(16, 24, 32, 0.1);
  padding: 0;
  overflow: hidden;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.coupon-button {
  display: inline-block;
  margin-bottom: 3px;
  font-size: 11.5px;
  font-weight: bold;
  border-radius: 12px;
  width: 62px; /* 고정 너비 */
  height: 22px; /* 고정 높이 */
  background-color: #101820;
  color: white;
  line-height: 22px; /* 버튼 높이에 맞게 텍스트 가운데 정렬 */
  padding: 0;
}

/* 수량 조절 스타일 */
.quantity-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.red-button {
  margin-top: 4px;
  font-size: 11px;
  width: 58px;
  font-weight: 800;
  padding: 0 7px;
  height: 24px;
  line-height: 22px;
  color: var(--color-red);
  border: 1px solid #ededed;
}
.red-button:hover {
  border: 1px solid var(--color-red);
}

.discount-info {
  display: flex;
  flex-direction: column;
}

.discount-info-strong {
  color: var(--color-red);
  font-weight: 700;
}
.summary-row {
  background-color: var(--color-bg);
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.mileage-info,
.total-price-info {
  display: flex;
  flex-direction: column;
}

.total-price-info-strong {
  font-size: 15px;
  color: var(--color-red);
  letter-spacing: -0.5px;
}

/* 팝업 스타일 */
.popup-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  text-align: center;
}

.popup-title {
  position: relative; /* 닫기 버튼의 절대 위치를 위한 부모 요소 */
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg);
  align-items: center;
  padding: 12px;
}

.popup-title h4 {
  font-size: 14px;
  margin: 0;
  line-height: 1.5;
}

.popup-close-wrapper {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  padding: 8px; /* 여유 범위 패딩 */
  cursor: pointer;
}

.popup-close-wrapper .popup-close-btn {
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.popup-close-wrapper:hover .popup-close-btn {
  color: var(--color-red);
  transform: rotate(90deg);
}

.popup-product-info-box {
  display: flex;
  padding: 2rem 2rem 0 2rem;
  flex-direction: column;
  align-items: center;
}

.popup-product-info {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.popup-product-image {
  width: 70px;
  height: 70px;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px rgba(16, 24, 32, 0.1);
  padding: 0;
  overflow: hidden;
}

.popup-product-description {
  display: inline-block;
  max-width: 350px;
  text-align: left;
}

.quantity-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-selector button {
  background-color: var(--color-red);
  color: white;
  border: 1.5px solid var(--color-red);
  border-radius: 4px;
  width: 50px;
  height: 40px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.quantity-selector button:hover {
  background-color: white;
  color: var(--color-red);
}

.quantity-input {
  appearance: textfield; /* 위아래 버튼 없애기 */
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 150px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  transition: border-color 0.3s ease;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input:focus {
  border-color: var(--color-red);
}

.popup-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}
.popup-buttons * {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 24px;
}

.popup-button-white {
  background-color: white;
  color: var(--color-red);
  border: 1px solid #ededed;
}

.popup-button-red {
  background-color: var(--color-red);
  color: white;
}

.popup-product-price {
  margin-top: 1.2rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.coupon-popup-content {
  padding: 20px;
}

.coupon-popup-cancel {
  margin-right: 10px;
}

.cart-control {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cart-control-buttons {
  display: flex;
}

.cart-tip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-tip * {
  line-height: 20px;
  font-size: 12px;
  color: #727577;
}

.cart-order-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.control-button,
.order-button {
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid #ededed;
  background-color: var(--color-white);
  cursor: pointer;
}

.btn-point-red {
  color: var(--color-red);
}

.order-button {
  padding: 10px 25px;
}

.btn-point-shop {
  background-color: var(--color-black);
  color: white;
}

.btn-point-all {
  background-color: var(--color-red);
  color: white;
}
.empty-cart-message {
  margin-top: 4.5rem;

  text-align: center;
  background-color: #fff;
  padding: 150px;
}
