/*********************
common css
*********************/
* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

#root {
  background-color: var(--color-bg);
}

ul *,
li * {
  list-style-type: none;
  text-decoration: none;
}

a * {
  text-decoration: none;
  color: var(--color-black);
}

:root {
  --color-bg: rgb(247, 244, 244);
  --color-red: #ee2737;
  --color-black: #101820;
  --color-grey: #727272;
  --color-white: #ffffff;
}

/**********************
  Placeholder 텍스트 색상 
  ***********************/
input::placeholder {
  color: black;
  font-weight: 600;
}

/**********************
  header css
  ***********************/
.header-outer {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #c9c9c9;
  position: fixed;
  z-index: 1;
  background-color: var(--color-bg);
  top: 0;
}

.header-outer h1 {
  padding: 0;
  margin: 0 0 0 50px;
  width: 160px;
  height: 30px;
  background-image: url("../../public/images/base/logo.svg");
}

.header-menu {
  position: relative;
}

.header-menu-main {
  position: absolute;
  margin-top: -11.5px;
  top: 50%;
  left: 15.3%;
  align-items: center;
}

.header-menu-main span {
  font-weight: 700;
  margin-right: 65px;
  padding-bottom: 36px;
}

.header-menu-main span:hover {
  border-bottom: 1px solid var(--color-red);
}

.header-menu-sub {
  position: absolute;
  top: 0;
  right: 10%;
}

.usericon {
  margin-right: 35px;
  opacity: 0.8;
}
.carticon{
  opacity: 0.8;
}
.headseticon{
  opacity: 0.8;
  cursor: pointer;
}

.header-menu-sub span {
  margin-left: 35px;
}

.headset-menu {
  position: absolute;
  background-color: var(--color-red);
  padding: 15px 20px;
  top: 205%;
  right: -25%;
  display: block;
  text-align: end;
}

.headset-menu p {
  color: var(--color-white);
  font-weight: 600;
}

.headset-menu p:hover {
  border-bottom: 1px solid var(--color-white);
}

.cartcnt {
  display: inline-block;
  margin-right: 75px;
  font-size: 16px;
  color: var(--color-red);
}

.link {
  text-decoration: none;
  color: var(--color-black);
}

.content {
  position: relative;
  width: 1320px;
  margin: auto;
  padding-top: 7rem;
  padding-bottom: 7rem;
  border: 1px solid blue;
}

/**********************
  location css
  ***********************/
.location {
  position: absolute;
  z-index: 1;
  top: 130px;
  right: 0;
  width: 100%;
  height: 40px;
}

.location-link {
  display: flex;
  gap: 1.7rem;
  justify-content: flex-end;
}

.location-link>li {
  position: relative;
}

.location-link-text {
  font-size: 13px;
  color: #222;
}

.location-link-home {
  font-size: 14px;
  color: var(--color-red);
}

.location-link-arrow {
  position: absolute;
  display: block;
  top: 6px;
  right: -15px;
  font-size: 9px;
  color: #b8b8b8;
}

/**********************
  subt-itle css
  ***********************/
.sub-title {
  margin-top: 150px;
}

.sub-title h2 {
  position: relative;
  font-size: 3rem;
  text-align: center;
}

.sub-title h2::after {
  content: "";
  position: absolute;
  background: url("https://www.everlineshop.com/data/skin/front/everline/images/base/pic_point.svg");
  width: 30px;
  height: 25px;
  display: block;
  left: calc(50% - 20px);
  bottom: -2rem;
}

/**********************
  sub-menu css
  ***********************/
.sub-menu {
  display: flex;
  margin-top: 80px;
}

.sub-menu>li {
  position: relative;
  width: 50%;
  text-align: center;
  padding: 12px 0;
}

.sub-menu li>a {
  color: var(--color-black);
  border-top: transparent solid 1px;
}

.sub-menu>li>a::before,
.sub-menu>li>a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
}

.sub-menu>li>a::before {
  background-color: var(--color-black);
  opacity: 0.1;
}

.sub-menu>li>a::after {
  width: 1px;
  background-color: var(--color-red);
  opacity: 0;
  transition: 0.3s;
}

.sub-menu>li>a:hover:after {
  width: 100%;
  opacity: 1;
}

.sub-menu>li>a:hover {
  color: var(--color-red);
}

/**********************
  listall css
  ***********************/
.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.count-no {
  display: flex;
}

.count-no-icon {
  font-size: 14px;
  color: var(--color-grey);
}

.count-no-text {
  font-size: 0.8rem;
  color: var(--color-black);
  margin-left: 8px;
  letter-spacing: -0.5px;
}

.count-no-red {
  color: var(--color-red);
  font-size: 1rem;
  font-weight: bold;
}

/**********************
  filter css
  ***********************/
.filter {
  width: 100px;
}

/**********************************************위의 css는 공통이므로 수정 시 협의 후 진행 ************************************ */