.member * {
  background-color: var(--color-white);
}

.member {
  width: 760px;
  margin: 50px auto;
  text-align: center;
  background-color: var(--color-white);
}

.member-form {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-info {
  margin-left: -20px;
}
.member-input {
  align-items: center;
}

.input-field {
  width: 360px;
  height: 50px;
  margin-top: 20px;
  padding: 15px;
  border: none;
  border-radius: 3px;
  background-color: rgba(16, 24, 32, 0.06);
  font-size: 14px;
  color: #64646b;
  text-align: left;
}

.input-field::placeholder {
  font-size: 15px;
  color: var(--color-black);
}

.member ul li button {
  display: block;
  margin: 15px auto;
  width: 360px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
}

.member-find-btn {
  display: flex;
  width: 360px;
  margin: 20px auto;
  font-size: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.member-find-btn li:first-child {
  margin-right: auto;
  margin-top: 4px;
}

.member-find-btn .custom-checkbox {
  background-color: var(--color-white);
  width: 24px;
  height: 24px;
  border: 1px solid #ededed;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.custom-checkbox-label {
  display: flex;
}

.custom-checkbox-label input {
  margin-right: 8px;
}

.member-find-btn .custom-checkbox:checked {
  border: 1px solid var(--color-red);
}

.member-find-btn .custom-checkbox:checked::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 13px;
  height: 13px;
  background-color: var(--color-red);
}

.member-btn {
  padding-bottom: 20px;
}

.member-btn .red-btn {
  color: var(--color-white);
  border: none;
  background-color: var(--color-red);
}

.member-btn .white-btn {
  color: var(--color-red);
  border: 1px solid #e1e1e1;
  background-color: var(--color-white);
}

.member-link-color1 {
  color: var(--color-red);
}

/** sns 연동 */
.member-sns-btn {
  padding-bottom: 20px;
}

.member-sns-btn button {
  border: 0.3px solid #e1e1e1;
  border-radius: 2px;
  background-color: var(--color-white);
  transition: background-color 0.2s ease-in-out;
}

.member-sns-btn svg {
  background-clip: content-box;
  background-color: transparent;
}

/** sns buttons */
.naver-btn {
  color: rgb(0, 199, 58);
  fill: rgb(0, 199, 58);
}

.naver-btn:hover {
  color: var(--color-white);
  fill: var(--color-white);
  background-color: rgb(0, 199, 58);
}

.kakao-btn {
  color: rgb(47, 20, 21);
  fill: rgb(47, 20, 21);
}

.kakao-btn:hover {
  color: rgb(47, 20, 21);
  fill: rgb(47, 20, 21);
  background-color: #fee500;
}

.apple-btn {
  color: var(--color-black);
  fill: var(--color-black);
}

.apple-btn:hover {
  color: var(--color-white);
  fill: var(--color-white);
  background-color: var(--color-black);
}

/** sign up */

.signup {
  width: 760px;
  margin: 50px auto;
  background-color: var(--color-white);
}

.signup input {
  background-color: #f1f1f2;
  border: none;
}

.member-back {
  width: 360px;
  margin: auto;
  flex-direction: column;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
}

.member-subtitle {
  font-size: 14px;
  font-weight: 900;
  margin-top: 20px;
  margin-left: -25px;
  text-align: left;
}

.member-signup-type,
.signup-input,
.member-agreement,
.member-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.member-signup-container {
  position: relative;
  width: 360px; /* 전체 너비 */
  margin: 0 auto; /* 가운데 정렬 */
  margin-left: -27px;
  margin-bottom: 20px;
}

.member-signup-type {
  list-style: none; /* 리스트 스타일 없애기 */
  padding: 0;
  display: flex; /* 수평으로 나열 */
  margin: 0;
  border-radius: 30px; /* 전체적인 둥근 테두리 */
  overflow: hidden; /* 자식 요소의 둥근 테두리 적용 */
  position: relative;
}

.member-signup-type li {
  flex: 1; /* 동일한 너비 설정 */
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 15px 0; /* 패딩 추가 */
  cursor: pointer; /* 커서 모양 변경 */
  font-weight: 500; /* 글씨 두께 */
  color: #6c6c6c; /* 기본 글씨 색상 */
  transition: color 0.3s; /* 전환 효과 */
  z-index: 1; /* 텍스트를 슬라이더 위로 올리기 */
  position: relative;
}

.member-signup-type li p {
  margin: 0; /* 기본 마진 제거 */
}

.member-signup-type li.active p {
  color: #fff; /* 활성화된 버튼의 글씨 색상 */
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%; /* 버튼 크기에 맞게 설정 */
  background-color: #1a1a1a; /* 활성화된 버튼 배경색 */
  border-radius: 30px;
  transition: transform 0.3s ease; /* 슬라이드 애니메이션 */
  z-index: 0; /* 슬라이더를 텍스트 뒤로 보내기 */
}

.slider.individual {
  transform: translateX(0%); /* 첫 번째 버튼 위치 */
}

.slider.business {
  transform: translateX(100%); /* 두 번째 버튼 위치 */
}

.member-agreement li,
.member-buttons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}

.signup-input li input,
.signup-input li select,
.member-agreement li input,
.member-buttons li button {
  margin-left: -2rem;
}

.member-input li p,
.member-agreement li p {
  flex: 0 0 auto;
  margin: 0;
}

.signup-input li input[type="text"],
.signup-input li input[type="password"],
.signup-input li input[type="email"],
.signup-input li select {
  width: 360px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
}

.signup-input li button {
  padding: 10px 15px;
  background: var(--color-red);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-input li button:hover {
  background: #ff7875;
}

.member-birthday {
  display: flex;
  align-items: center;
  width: 360px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
}

.member-birthday .birthday-select {
  height: 50px;
  margin-right: 10px;
  padding: 0 35px 0 17px;
  border: none;
  border-radius: 0;
  background-color: #f1f1f2;
  box-shadow: none;
}

.member-birthday .birthday-select:first-child {
  margin-left: -27px;
}

/** 약관동의 */
.member-agreement {
  list-style: none;
  padding: 0;
  margin: 0;
}

.member-agreement-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 18px;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
  width: 100%;
}

.custom-checkbox-label p {
  margin: 0;
}

.custom-checkbox {
  margin: auto;
}

.custom-checkbox + p {
  margin: 0;
}

.member-agreement-item a {
  margin-left: auto;
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.member-agreement-item .highlight {
  font-weight: bold;
}

.member-agreement-item .bold {
  font-weight: bold;
}

.member-agreement-item .required {
  color: #f5222d;
  font-weight: 900;
}

.member-buttons {
  display: inline-block;
}

.member-buttons li {
  margin: 0;
}

.member-buttons .red-btn {
  color: var(--color-white);
  background-color: var(--color-red);
}
.member-buttons .white-btn {
  border: 1px solid #ededed;
  background-color: var(--color-white);
  color: var(--color-red);
}

.member-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.member-buttons button:hover {
  opacity: 0.8;
}

.signup-input li {
  display: block;
  margin: 10px 0;
}

.signup ul li button {
  margin: 10px 10px 0 -27px;
  margin-bottom: 10px;
  width: 360px;
  height: 50px;
  font-size: 14px;
  font-weight: 800;
}

/** email */
.order-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 선택적으로 좌측 정렬 */
  width: 100%; /* 부모 요소의 너비를 사용 */
  margin-left: -1px;
}

.order-select-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease; /* 회전 애니메이션 추가 */
}

.domain-select-header.open-tg .order-select-arrow {
  transform: translateY(-50%) rotate(180deg); /* 드롭다운이 열렸을 때 180도 회전 */
}

.member-order-email-select-box {
  width: 360px;
  height: 50px;
  border: none;
  position: relative;
  cursor: pointer;
  border: 1px solid #ddd;
  margin-left: -28px;
}

.member-domain-select-dropdown {
  width: 360px;
  position: relative;
  z-index: 4;
  padding: 0; /* Initial padding should be 0 */
  border: 1px solid #ddd;
  background-color: #ddd;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease; /* Add transition for max-height and padding */
}

.domain-select-option {
  position: relative;
  z-index: 4;
  padding: 5px 6px;
  margin: 3px auto;
  border-radius: 10px;
  width: 100%;
  background-color: #ddd;
  transition: width 0.3s ease, background-color 0.3s ease, margin 0.3s ease;
}

.domain-select-option.d-selected,
.domain-select-option:hover {
  width: 70%;
  background-color: #fff;
  margin: 3px auto;
  border-radius: 10px;
}

.domain-select-option > span {
  font-weight: 100;
}

.domain-select-header {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}

.open-tg {
  width: 100%;
}

.member-domain-select-dropdown.open {
  position: relative;
  width: 100%;
  z-index: 4;
  padding: 4px;
  max-height: 500px;
}

/** FindAccount */

.findaccount-form {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  flex-direction: column;
}

.findaccount-all ul {
  padding: 0;
  margin: 0;
}

.findaccount-all li {
  margin-bottom: 20px;
}

.findaccount-all input {
  width: 360px;
  height: 50px;
  border: none;
  background-color: #f1f1f1;
  font-size: 14px;
  padding-left: 20px;
}
.findaccount-all ul li:nth-child(2) input:nth-child(2) {
  width: 270px;
  margin-left: 10px;
}
.findaccount-all ul .findaccount-firstnum input:nth-child(1) {
  width: 80px;
}

.find-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-info {
  padding: 0;
  padding-right: 265px;
  margin: 5px 0;
}

.find-info li {
  font-weight: 400;
  border-bottom: 1px solid var(--color-black);
}

.find-info li {
  font-size: 14px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.find-info li:hover {
  text-decoration: underline;
}

.find-btn li {
  list-style-type: none;
  text-decoration: none;
}

.red-btn,
.white-btn {
  display: block;
  width: 360px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.red-btn {
  background-color: var(--color-red);
  color: var(--color-white);
}

.white-btn {
  background-color: var(--color-white);
  color: var(--color-red);
  border: 1px solid #ededed;
  text-align: center;
  margin-bottom: 40px;
}

.white-btn a {
  text-decoration: none;
  color: var(--color-red);
  line-height: 50px; /* 버튼의 높이에 맞춰서 가운데 정렬 */
}

.white-btn:hover,
.red-btn:hover {
  opacity: 0.8;
}

/** email auth */

.findaccount-emailauth {
  width: 360px;
  margin: auto;
  padding: 50px 0;
}

.findaccount-email {
  line-height: 50px;
  width: 360px;
  height: 50px;
  border: none;
  background-color: #f1f1f1;
  font-size: 14px;
}

.findaccount-email {
  font-weight: 600;
}
.findaccount-emailauth-ul {
  display: block;
  margin: 0;
}

.findaccount-emailauth-ul li {
  width: 360px;
  height: 50px;
  /*   border: 1px solid #ededed;
 */
  margin-left: -29px;
}

.findaccount-emailauth-ul .findaccount-emailauth-2 {
  margin-top: 50px;
}

.findaccount-emailauth-ul .findaccount-emailauth-btn button {
  margin-top: 10px;
}

.findaccount-emailauth-ul li input {
  width: 360px;
  height: 50px;
  border: none;
  background-color: #f1f1f1;
  text-align: center;
}

.findaccount-emailauth-first {
  margin-top: 15px;
}

.findaccount-emailauth-ul .findaccount-emailauth-btn2 {
  margin-top: 50px;
}
