.mypage-content {
  background-color: var(--color-white);
  height: auto;
  margin-top: 100px;
  padding: 50px;
}

.mypage-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-top: 2px solid var(--color-bg);
  border-bottom: 2px solid var(--color-bg);
  padding-top: 10px;
}

.mypage-content h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.mypage-content hr {
  border: 1px solid black;
}

.mypage-header-item {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.mypage-header-item:nth-child(1),
.mypage-header-item:nth-child(2) {
  border-right: 2px solid var(--color-bg);
}
.mypage-order-status,
.order-check {
  margin-bottom: 20px;
  margin-left: 210px;
}

.mypage-order-status2 {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-left: 210px;
}

.order-status-items {
  display: flex;
  justify-content: space-between;
}

.order-status-item {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}
.order-status-item2 {
  flex: 1;
  height: 80px;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
}
.order-status-item2:nth-child(1),
.order-status-item2:nth-child(2) {
  border-right: 1px solid #ccc;
}

.order-status-item:last-child {
  margin-right: 0;
}

.order-status-arrow {
  line-height: 100px;
  color: var(--color-red);
  margin-bottom: 15px;
}

.mypage-info {
  display: block;
  position: relative;
  width: 200px;
  bottom: 388px;
}

.mypage-info-section {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.mypage-info-section:last-child {
  margin-right: 0;
}

.mypage-info-section h3 {
  margin-bottom: 10px;
}

.mypage-info-section ul {
  list-style: none;
  padding: 0;
}

.mypage-info-section ul li {
  margin-bottom: 10px;
}

.mypage-loout {
  cursor: pointer;
}
