.order-area-box {
  margin-top: 5rem;
  background-color: var(--color-white);
  padding: 4rem;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}

.order-area-box * {
  font-size: 0.95rem;
}

.order-table-title {
  font-size: 1rem;
  font-weight: 800;
}

.order-table {
  width: 100%;
  border-top: 2px solid var(--color-red);
  border-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.order-table-head th {
  text-align: center;
  background-color: var(--color-bg);
  padding: 10px 15px;
  border-bottom: 1px solid rgba(16, 24, 32, 0.1);
  font-weight: bold;
}

.order-table-body tr {
  border-bottom: 1px solid #eeee;
}

.order-table-body td {
  padding: 10px 15px;
}

.order-table-quantity {
  align-items: center;
  font-weight: bold;
}
