/* color list */
:root {
  --color-primary: rgb(247, 244, 244);
  --color-black: #12191f;
  --color-white: rgb(255 255 255);
  --color-red: rgb(231, 10, 43);
}

/** Commons */

* {
  box-sizing: border-box;
  font-family: "Noto Sans";
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

.header,
.footer,
.content,
body,
div,
nav,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

.header,
.footer,
.content {
  width: 1400px;
  margin: auto;
}

h3 {
  font-size: 18px;
  text-align: left;
  margin-left: 30%;
  font-weight: 700;
}

.signup-form {
}

.signup-type {
  margin-left: 196px;
  width: 360px;
}

.signup-type li {
  width: 360px;
  height: 80px;
  padding: 2rem;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-primary);
}

/* styles.css */

.signup-type li {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
}

/* styles.css */

.signup-type li {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
}

.signup-type li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translateX(-20px) translateY(-50%);
  opacity: 0;
}

.signup-type li p {
  position: relative;
  z-index: 1; /* p 요소를 가상 요소 위로 올립니다. */
}

.signup-type li:hover::before {
  opacity: 1;
  transform: translateX(calc(-100% + 20px)) translateY(-50%);
}
