/*********************
common css
*********************/
* {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--color-bg);
  font-size: 14px;
}

li * {
  list-style-type: none;
  text-decoration: none;
}

a * {
  text-decoration: none;
  color: var(--color-black);
}

:root {
  --color-bg: rgb(247, 244, 244);
  --color-red: #ee2737;
  --color-black: #101820;
  --color-grey: #727272;
  --color-white: #ffffff;
}

/**********************
Placeholder 텍스트 색상 
***********************/
input::placeholder {
  color: black;
  font-weight: 600;
}

/**********************
header css
***********************/
.header-outer {
  border: 1px solid var(--color-red);
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--color-red);
  border: 2px solid rgb(237, 237, 239);
}

.header-right {
  font-size: 20px;
  color: var(--color-black);
  font-weight: 700;
  margin: auto;
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 5px;
}

.link {
  padding-left: 50px;
}

.content {
  position: relative;
  width: 1320px;
  margin: auto;
  padding-top: 7rem;
  padding-bottom: 7rem;
  border: 1px solid blue;
}

/**********************
location css
***********************/
.location {
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 0;
  width: 100%;
  height: 40px;
}

.location-link {
  display: flex;
  gap: 1.7rem;
  justify-content: flex-end;
}

.location-link>li {
  position: relative;
}

.location-link-text {
  font-size: 13px;
  color: #222;
}

.location-link-home {
  font-size: 14px;
  color: var(--color-red)
}

.location-link-arrow {
  position: absolute;
  display: block;
  top: 6px;
  right: -15px;
  font-size: 9px;
  color: #b8b8b8;
}

/**********************
subt-itle css
***********************/
.sub-title {
  margin-top: 150px;
}

.sub-title h2 {
  position: relative;
  font-size: 3rem;
  text-align: center;
}

.sub-title h2::after {
  content: '';
  position: absolute;
  background: url("https://www.everlineshop.com/data/skin/front/everline/images/base/pic_point.svg");
  width: 30px;
  height: 25px;
  display: block;
  left: calc(50% - 20px);
  bottom: -2rem;
}
/**********************
sub-menu css
***********************/
.sub-menu {
  display: flex;
  margin-top: 80px;
}

.sub-menu>li {
  position: relative;
  width: 50%;
  text-align: center;
  padding: 12px 0;
}

.sub-menu li>a {
  color: var(--color-black);
  border-top: transparent solid 1px;
}

.sub-menu>li>a::before,
.sub-menu>li>a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
}

.sub-menu>li>a::before {
  background-color: var(--color-black); 
  opacity: 0.1;
}

.sub-menu>li>a::after {
  width: 1px;
  background-color: var(--color-red);
  opacity: 0;
  transition: 0.3s;
}

.sub-menu>li>a:hover:after {
  width: 100%;
  opacity: 1;
}

.sub-menu>li>a:hover {
  color: var(--color-red);
}

/**********************
listall css
***********************/
.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.count-no {
  display: flex;
}

.count-no-icon {
  font-size: 14px;
  color: var(--color-grey)
}

.count-no-text {
  font-size: 0.8rem;
  color: var(--color-black);
  margin-left: 8px;
  letter-spacing: -0.5px;
}

.count-no-red {
  color: var(--color-red);
  font-size: 1rem;
  font-weight: bold;
}

/**********************
filter css
***********************/
.filter {
  width: 100px;
}
/**********************************************위의 css는 공통이므로 수정 시 협의 후 진행 ************************************ */

/* 개인 css 작성방법 */

/**********************
컴포넌트명 css
***********************/

/* 위의 구분 주석 복사 붙여넣기 후 개인 css 작성 */


/**********************
carttable css
***********************/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

/**********************
bannerslider css
***********************/
.BannerSlider_container {
  text-align: center;
  min-height: 820px;
}

.BannerSlider_content {
  margin: 50px 0 50px 0;
}
.BannerSlider_content div {
  margin: auto;
  display: flex;
  align-items: center;
}

.BannerSlider_content div > img {
  width: 600px;
}
.BannerSlider_content div > h3 {
  width: 300px;
}

/**********************
ProductPagepage css
***********************/
.ProductPage {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  padding: 0;
}

.ProductPage-img-box {
  border: 1px solid blue;
  width: 300px;
  margin: 0 33px 0 33px;
  text-align: center;
  padding: 18px 0 18px 0;
  background-color: var(--color-white);
}

.ProductPage-img {
  width: 258px;
  height: 258px;
  margin: 0;
  object-fit: cover;
}

.ProductPage-info {
  border: 1px solid blue;
  text-align: start;
  margin: 0 33px 0 33px;
  width: 300px;
  font-size: 16px;
  padding-top: 20px;
}

.ProductPage-title {
  /* border: 1px solid rebeccapurple; */
  display: -webkit-box;
  height: auto;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #101820;
  line-height: 20px;
  letter-spacing: -0.3px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

.ProductPage-price {
  /* border: 1px solid green; */
  display: inline-block;
  padding: 0;
  color: #101820;
  font-weight: 800;
  margin-top: 15px;
}

.ProductPage-soldout {
  border: 2px solid #666;
  background-color: rgb(247, 244, 244);
  color: #666;
  display: block;
  width: 30px;
  font-weight: bold;
  padding: 0 1.5px;
  text-align: center;
  border-radius: 8px;
  font-size: 12px;
  margin-top: 15px;
}